.about {
  padding: 5rem 10rem;
  background:
    radial-gradient(circle at 30% 90%, rgba(0,190,255,0.3), transparent 40%),
    radial-gradient(circle at 20% 20%, rgba(255,255,255,0.8), transparent 40%),
    radial-gradient(circle at 80% 30%, rgba(0,190,255,0.2), transparent 65%),
    radial-gradient(circle at 20% 80%, rgba(255,255,255,0.8), transparent 60%),
    var(--color-main-light);
  /* background: 
    url(../../images/logo/logo_bg.png) center / cover no-repeat; */
}

.about-section {
  max-width: 75rem;
  margin: 0 auto;
  padding: 4rem 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;
}
.about-image img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 1rem;
}
.about-text h2 {
  margin-bottom: 0.5rem;
}
.about-text h3 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}