/* =========================
   FAQ
========================= */

.faq {
  background: #ffffff;
}
.faq-inner {
  max-width: 900px;
  margin: 0 auto;
}

/* アイテム */
.faq-item {
  border-bottom: 1px solid #e5e5e5;
}

/* 質問 */
.faq-label {
  color: var(--color-main);
  font-size: 30px;
  font-weight: 600;
  margin-right: 12px;
}

.faq-text {
  text-align: left;
}

.faq-question {
  width: 100%;
  padding: 30px 0;
  font-size: 18px;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 12px;
}


.faq-question span:first-child {
  text-align: left;
}

/* アイコン */
.icon {
  position: relative;
  width: 40px;
  height: 40px;
  background: var(--color-main);
  border-radius: 50%;           /* 丸にする */
  flex-shrink: 0;
  margin-left: auto;
}
.icon::before,
.icon::after {
  content: "";
  position: absolute;
  background: #fff;   /* 白に変更 */
  transition: 0.3s ease;
}
/* 横棒 */
.icon::before {
  width: 20px;
  height: 3px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* 縦棒 */
.icon::after {
  height: 20px;
  width: 3px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}





/* 回答 */

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease;
  font-size: 15px;
  line-height: 1.8;
  color: #555;
  padding-right: 20px;
}

.faq-item.active .faq-answer {
  max-height: 200px;
  padding-bottom: 25px;
}

.faq-item.active .icon::after {
  display: none;
}
