.hero {
  height:calc(100vh + 5rem);
  background:
    radial-gradient(circle at 30% 90%, rgba(0,190,255,0.3), transparent 40%),
    radial-gradient(circle at 20% 20%, rgba(255,255,255,0.8), transparent 80%),
    radial-gradient(circle at 80% 30%, rgba(0,190,255,0.2), transparent 20%),
    radial-gradient(circle at 20% 80%, rgba(255,255,255,0.8), transparent 80%),
    var(--color-main-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5rem;
}
.hero .section-header {
  margin-bottom: 2rem;
}
.hero .section-title h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.hero .section-title h2 {
  font-size: 2rem;
  margin-bottom: 0.8rem;
}
/* 横並び */
.hero-cards{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:1.5rem;
}
/* カード本体 */
.hero-card{
  position: relative;
  background: var(--color-white-base);
  border-radius: 2rem;
  margin: 0;
  padding: 2.4rem 2rem 1rem;
  box-shadow: 0 16px 40px rgba(0,0,0,0.08);
  backdrop-filter: blur(6px);
}

/* 見出し */
.hero-card-head{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.hero-card-head h3{
  margin-top: 0;
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-deep);
}

/* content */
.hero-card-content{
  display:grid;
  grid-template-columns:1.1fr 1fr;
  gap:1.5rem;
  align-items: start;
}
.hero-card-text p {
  margin: 0 0 1.2rem;
  font-size: 1rem;
  text-align: left;
}
.hero-card-content img {
  width: 100%;
  height: auto;
}
/*  more */
.more {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
/* 円ボタン */
.circle-btn {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-decoration: none;
}
/* 内側のアニメーション円 */
.circle-btn::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  background: var(--color-main-light2);
  border-radius: 50%;
  transition: width 0.4s ease, height 0.4s ease;
}
/* 共通矢印 */
.arrow {
  position: absolute;
  font-size: 1.4rem;
  color: #1e73be;
  color: var(--color-deep);
  transition: all 0.4s cubic-bezier(.4,0,.2,1);
}
/* 通常表示用 */
.arrow-default {
  opacity: 1;
  transform: translateX(0);
}
/* 左から飛んでくる用 */
.arrow-hover {
  opacity: 0;
  transform: translateY(-40px);
}
/* hover時 */
.circle-btn:hover::before {
  width: 4.5rem;
  height: 4.5rem;
}
.circle-btn:hover .arrow-default {
  opacity: 0;
}
.circle-btn:hover .arrow-hover {
  opacity: 1;
  transform: translateY(0);
}


.price-container {
  background-color: var(--color-white-base);
  background: rgba(255,255,255,0.7);
  padding: 3rem 4rem;
  border-radius: 1rem;
}
.price-container h3 {
  text-align: center;
  margin-bottom: 0.8em;
}
.price-cards{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:1.5rem;
  margin-bottom: 2rem;
}
.price-card{
  position: relative;
  background: var(--color-main-light);
  border-radius: 2rem;
  margin: 0;
  padding: 2.4rem 1rem 1rem;
  box-shadow: 0 16px 40px rgba(0,0,0,0.08);
  backdrop-filter: blur(6px);
}
/* 見出し */
.price-card-head{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.price-card-head h4{
  margin-top: 0;
  color: var(--color-deep);
  margin-bottom: 2rem;
}
/* content */
.price-card-content{
  display:grid;
  grid-template-columns:1.1fr 1fr;
  gap:1.5rem;
  align-items: start;
}
.price-card-text p{
  margin: 0 0 1.2rem;
  font-size: 1rem;
}
.price-card-content img{
  width: 100%;
  height: auto;
}


/* owner */
.owner-inner {
  max-width: 1100px;
  margin: 0 auto;
}
.owner .section-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1.6rem;
}
.owner-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
  align-items: stretch;
  margin-bottom: 4rem;
}
.owner-card{
  display:grid;
  grid-template-rows:
    2fr  /* header */
    0.8fr   /* price */
    auto  /* アカウント管理 */
    auto   /* 清掃管理 */
    auto
    auto
    auto
    auto;   /* option */
  background:
    radial-gradient(circle at 30% 90%, rgba(0,190,255,0.1), transparent 30%),
    radial-gradient(circle at 20% 20%, rgba(255,255,255,0.8), transparent 40%),
    radial-gradient(circle at 80% 30%, rgba(0,190,255,0.1), transparent 30%),
    radial-gradient(circle at 20% 80%, rgba(255,255,255,0.8), transparent 60%),
    var(--color-main-light);
  box-shadow:0 30px 60px rgba(0,0,0,0.06),0 -10px 30px rgba(0,0,0,0.04);
  border-radius:1.5rem;
}
.owner-card-header {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  padding: 2rem 1.5rem;
  color: white;
  text-align: center;
  min-height: 12rem;
}
.owner-card-header h3 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}
.owner-card-header p {
  color: white;
  font-size: 1rem;
  font-weight: 300;
}
.owner-card-header span {
  display: inline-block;
  background: white;
  border-radius: 999px;
  padding: 0.2em 0.6em;
  margin-bottom: 0.5em;
}
.card1 .owner-card-header span {
  color: #1FA9D6;
}
.card2 .owner-card-header span {
  color: #0F89B5;
}
.card3 .owner-card-header span {
  color: #085A78;
}
.owner-card-section .note{
  font-size: 1rem;
  display:block;
  color: var(--color-muted);
  margin-top:0.2rem;
}
.card1 .owner-card-header {
  background: linear-gradient(
  135deg,
  #36C2F3,
  #1FA9D6
);
}
.card2 .owner-card-header {
  background: linear-gradient(
  135deg,
  #1FA9D6,
  #0F89B5
);
}
.card3 .owner-card-header {
  background: linear-gradient(
  135deg,
  #0C7AA3,
  #085A78
);
}
.owner-card-section {
  padding: 1rem 1.5rem;
  position: relative;
  text-align: left;
}
.owner-card-section--center{
  text-align:center;
  flex-direction: column;
  display:flex;
  align-items:center;
  justify-content:center;
}
.owner-card-section::after{
  content:"";
  position:absolute;
  bottom:0;
  left:5%;
  width:90%;
  height:1px;
  background:var(--color-deep);
  opacity: 0.7
}
.owner-card-section h4 {
  font-size: 1.3rem;
  padding-left: 1.8rem;
  margin: 0;
  position: relative;
}
.owner-card-section h4::before{
  content:"✓";
  font-size: 0.8rem;
  color:white;
  position:absolute;
  left:0;
  top:50%;
  transform:translateY(-50%);
  border-radius: 50%;
  width: 1.3rem;
  height: 1.3rem;
  font-weight:bold;
  display:flex;
  align-items:center;
  justify-content:center;
}
.card1 .owner-card-section h4::before {
  background-color: #1FA9D6;
}
.card2 .owner-card-section h4::before {
  background-color: #0F89B5;
}
.card3 .owner-card-section h4::before {
  background-color: #085A78;
}
.owner-card-section p {
  color: var(--color-black);
}
.owner-card-section .percent {
  font-size: 2rem;
  font-weight: 600;
  margin: 0 0.2em;
}
.card1 .owner-card-section .percent {
  color: #1FA9D6;
}
.card2 .owner-card-section .percent {
  color: #0F89B5;
}
.card3 .owner-card-section .percent {
  color: #085A78;
}
.owner-card-section ul{
  list-style:none;
  padding-left:0;
}
.owner-card-section li{
  position:relative;
  padding-left:1rem;
  margin:0.35rem 0;
  color: var(--color-black);
}
.owner-card-section li::before{
  content:"・";
  position:absolute;
  left:0;
  top:0;
  color: var(--color-deep);
  font-weight:bold;
}
.owner-card-section--option{
  background: rgba(255,255,255,0.5);
  border-radius: 0.8rem;
  margin: 1rem;
  padding: 0.8rem 1rem;
}
.owner-card-section--option::after,
.owner-card-section--option h4::before,
.owner-card-section--option li::before {
  display: none;
}
.owner-card-section--option ul {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.owner-card-section--option li {
  background-color: var(--color-main-light);
  border-radius: 999px;
  padding: 0.2em 0.8em;
}
.owner-card-section.is-disabled {
  color: var(--color-muted);
  opacity: 0.3;
}
.owner-card-section li.is-disabled {
  color: var(--color-muted);
  opacity: 0.3; 
}



/* spot */
.spot-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.spot-content {
  display: grid;
  grid-template-columns: 0.7fr 1.2fr;
  gap: 2rem;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 4rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--color-sub);
}
.spot-content-text h4 {
  margin-bottom: 0.7em;
  font-weight: 500;
} 
.spot-content-text h5 {
  margin-bottom: 0.7em;
  font-size: 1.5rem;
  font-weight: 500;
}
.spot-content-text p {
  margin-bottom: 0.8em;
}
.spot-content img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.spot-content-text1 {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--color-sub);
}
.spot-content.reverse{
  direction: rtl;
}
.spot-content.reverse > *{
  direction: ltr;
}

/* cleaning */
.cleaning-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}
.more-tile-wrapper {
  margin-top: 4rem;
}



/* lease */
.lease .section-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1.6rem;
}
.lease-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.lease-content {
  display: grid;
  grid-template-columns: 0.7fr 1.2fr;
  gap: 2rem;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 4rem;
  padding: 4rem 4rem;
  border-radius: 1rem;
  border-bottom: 1px solid var(--color-sub);
  background-color: rgba(255,255,255,0.6);
}
.lease-content-right{
  display:flex;
  flex-direction:column;
}
.lease-content-right h4 {
  margin-bottom: 0.7em;
  font-weight: 500;
} 
.lease .underline-h4::before {
  z-index: 2;
}

.lease-content-text p {
  margin-bottom: 0.8em;
}
.lease-content-left img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.lease-content-right img{
  width:100%;
  flex:1;
  object-fit:contain; /* or cover */
  border-radius: 1rem;
}
.lease-content.reverse{
  direction: rtl;
}
.lease-content.reverse > *{
  direction: ltr;
}