.price {
    background:
    linear-gradient(rgba(0, 190, 255, 0.2), rgba(0, 190, 255, 0.2));
    background:
    radial-gradient(circle at 30% 90%, rgba(0,190,255,0.3), transparent 40%),
    radial-gradient(circle at 20% 20%, rgba(255,255,255,0.8), transparent 40%),
    radial-gradient(circle at 80% 30%, rgba(0,190,255,0.2), transparent 65%),
    radial-gradient(circle at 20% 80%, rgba(255,255,255,0.8), transparent 60%),
    url("../images/price.png") center/cover no-repeat,
    var(--color-main-light);
}
.price-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.price-container h3 {
  text-align: center;
  margin-bottom: 0.8em;
}

.price-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: 0.6fr 0.6fr 1fr;
  gap: 1.2rem;
  margin-bottom: 3rem;
}
.price-card {
  display:grid;
  grid-template-rows: 8rem 10rem;
  background: rgba(255,255,255,0.7);
  border-radius:1.5rem;
}
.plan-featured {
  box-shadow: 0 24px 24px rgba(0,190,255,0.2);
  position: relative;
}
.plan-featured .price-card-header h3 {
  font-weight: 600;
  font-size: 2.2rem;
}
.plan-featured .price-card-header span,
.plan-featured .price-card-text p  {
  font-weight: 700;
}
.badge {
  position: absolute;
  top: -24px;
  right: -24px;
  background: #00beff;
  color: white;
  font-size: 24px;
  text-align: center;
  padding: 13px 19px;
  border-radius: 40%;
  line-height: 1.2;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}
.badge strong {
  font-size: 32px;
}
.badge::after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: 60px;
  border-width: 12px;
  border-style: solid;
  border-color: #00beff transparent transparent transparent;
}
.price-card-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  padding: 1rem;
  color: white;
  text-align: center;
}
.price-card-header h3 {
  font-size: 1.8rem;
  margin-bottom: 0;
  font-weight: 300;
}
.price-card-header span {
  display: inline-block;
  background: white;
  border-radius: 999px;
  padding: 0.2em 0.6em;
}
.card1 .price-card-header span {
  color: #1FA9D6;
}
.card2 .price-card-header span {
  color: #0F89B5;
}
.card3 .price-card-header span {
  color: #085A78;
}
.card1 .price-card-header {
  background: linear-gradient(
  135deg,
  #36C2F3,
  #1FA9D6
  );
}
.card2 .price-card-header {
  background: linear-gradient(
  135deg,
  #1FA9D6,
  #0F89B5
  );
}
.card3 .price-card-header {
  background: linear-gradient(
  135deg,
  #0C7AA3,
  #085A78
  );
}
.price-card-text {
  padding: 1rem 1.5rem;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--color-muted);
}

.price-plan-btn {
  margin: 0 auto;
}

@media (max-width: 768px) {
  .price-cards {
    grid-template-columns: 1fr;
    margin-bottom: 1rem;
  }
  .plan-featured .price-card-header h3 {
    font-size: 2rem;
  }
  .badge {
    top: -24px;
    right: -12px;
    font-size: 18px;
    padding: 13px 19px;
  }
  .badge strong {
    font-size: 24px;
  }
  .badge::after {
    content: "";
    position: absolute;
    bottom: -20px;
    right: 45px;
    border-width: 12px;
    border-style: solid;
    border-color: #00beff transparent transparent transparent;
  }
}