/* ---------- responsive ---------- */
@media (max-width: 768px) {
  .sp-menu.is-open { 
    width: 100%;
  }
  
  h1 {
    font-size: 36px;
  }
  
  .btn-lg {
    padding: 14px 20px;
    font-size: 18px;
  }
  .sp-only {
    display: inline;
  }

  .works-stats {
    flex-direction: column;
    gap: 30px;
  }
  .works-grid {
    grid-template-columns: 1fr;
  }
  .service-grid {
    grid-template-columns: 1fr;
  }


  /* About-page */
  .company-row {
    flex-direction: column;
  }
  .company-th,
  .company-td {
    width: 100%;
    border-right: none;
  }
  .company-th::after {
    width: 40%;
  }

}